/* MAIN */
.sun,
.face,
.cat__coffee,
.cat__work,
.cat__lunch,
.cat__eat,
.cat__night,
.cloud,
.cloud__left,
.plane {
    position: absolute;
}

.sun,
.sun:hover,
.ground,
.ground:active,
.cat,
.cat:hover,
.plane,
.plane:hover {
    transition: all 2s;
}

/* SUN */
.sun {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 80px rgb(238, 142, 15), 0px 0px 80px rgb(250, 246, 28);
    background-color: rgb(243, 119, 36);
    animation: changeSun 20s linear;
    animation-iteration-count: infinite;
    
    bottom: 0;
    left: 0;
    z-index: 1;
}

.sun:hover {
    transform: rotate(1000deg);
}

.face {
    width: 100px;
    top: 10%;
    left: 12%;
}

@keyframes changeSun {
    from,
    to {
        background-color: rgb(255, 168, 86);
        bottom: 0;
        left: -200px;
    }

    25% {
        bottom: 50%;
        left: 15%;
    }

    50% {
        bottom: 70%;
        left: 45%;
        background-color: yellow;
    }

    75% {
        bottom: 50%;
        left: 70%;
    }

    100% {
        bottom: 0px;
        left: 100%;
        background-color: rgb(240, 141, 12);
    }
}

/* SKY */
.sky {
    position: relative;
    background-color: rgb(46, 4, 70);
    animation: changeSky 20s linear;
    animation-iteration-count: infinite;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@keyframes changeSky {
    from,
    to {
        background-color: rgb(46, 4, 70);
    }

    10% {
        background-color: rgba(250, 99, 99, 0.9);
    }

    25% {
        background-color: rgb(43, 183, 226,.6);
    }

    50% {
        background-color: rgb(33, 138, 236, 0.4);
    }

    75% {
        background-color: rgb(113, 39, 173);
    }

    100% {
        background-color: rgb(9, 9, 73);
    }
}

/* GROUND */
.ground {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 70% 70% 0 0;
    box-shadow: 0px 0px 20px rgb(114, 186, 235);
    z-index: 10;
}

.ground:active {
    transform: translate(0, 200px);
}

/* CATS */
.cat {
    width: 300px;
}

.cat:hover {
    transform: skewX(20deg);
}

.cat__lunch {
    width: 200px;
}

.cat__coffee {
    left: 15%;
    bottom: -300px;
    z-index: 100;
    animation: catCoffee 20s linear;
    animation-iteration-count: infinite;
}

@keyframes catCoffee {
    for,
    to {
        left: 15%;
        bottom: -300px;
    }

    14% {
        left: 15%;
        bottom: -300px;
    }

    15% {
        left: 15%;
        bottom: 0;
    }

    19% {
        left: 20%;
        bottom: 0;
    }

    20% {
        left: 20%;
        bottom: -300px;
    }

    100% {
        bottom: -300px;
    }
}

.cat__work {
    left: 20%;
    bottom: -300px;
    z-index: 100;
    animation: catWork 20s linear;
    animation-iteration-count: infinite;
}

@keyframes catWork {
    for,
    to {
        left: 20%;
        bottom: -300px;
    }

    19% {
        left: 25%;
        bottom: -300px;
    }
    
    20% {
        left: 20%;
        bottom: 0;
    }

    29% {
        left: 29%;
        bottom: 0;
    }

    30% {
        left: 29%;
        bottom: -300px;
    }

    34% {
        left: 35%;
        bottom: -300px;
    }

    35% {
        left: 35%;
        bottom: 0;
    }

    55% {
        left: 55%;
        bottom: 0;
    }

    56% {
        bottom: -300px;
    }
}

.cat__lunch {
    left: 30%;
    bottom: -300px;
    z-index: 100;
    animation: catLunch 20s linear;
    animation-iteration-count: infinite;
}

@keyframes catLunch {
    for,
    to {
        left: 30%;
        bottom: -300px;
    }

    29% {
        left: 30%;
        bottom: -300px;
    }

    30% {
        bottom: 0;
    }

    34% {
        left: 35%;
        bottom: 0;
    }

    35% {
        left: 35%;
        bottom: -300px;
    }
}

.cat__eat {
    left: 56%;
    bottom: -300px;
    z-index: 100;
    animation: catEat 20s linear;
    animation-iteration-count: infinite;
}

@keyframes catEat {
    for,
    to {
        left: 50%;
        bottom: -300px;
    }

    55% {
        left: 56%;
        bottom: -300px;
    }
    
    56% {
        left: 56%;
        bottom: 0;
    }

    69% {
        left: 69%;
        bottom: 0;
    }

    70% {
        bottom: -300px;
    }
}

.cat__night {
    left: -100px;
    bottom: 0;
    z-index: 100;
    animation: catNight 20s linear;
    animation-iteration-count: infinite;
}

@keyframes catNight {
    for,
    to {
        left: -100px;
        bottom: 0;  
    }

    14% {
        left: 15%;
        bottom: 0;
    }

    15% {
        left: 15%;
        bottom: -300px;
    }

    69% {
        left: 69%;
        bottom: -300px;
    }

    70% {
        bottom: 0;
    }

    100% {
        left: 100%;
        bottom: 0;
    }
}

/* CLOUDS */
.cloud {
    right: 0;
    bottom: 200px;
    animation: changeCloud 20s linear;
    animation-iteration-count: infinite;
}

.cloud__left {
    left: 0;
    bottom: 200px;
    animation: changeCloud 20s linear;
    animation-iteration-count: infinite;
}

/* CLOUDS ANIMATION*/
@keyframes changeCloud {
    for,
    to {
        bottom: 200px;
    }

    40% {
        bottom: -100px;
    }

    80% {
        bottom: 200px;
    }

    100% {
        bottom: 200px;
    }
}

/* PLANE */
.plane {
    left: 100%;
    bottom: -200px;
    animation: planeFly 20s ease-out;
    animation-iteration-count: infinite;
    z-index: 5;
}

.plane:hover {
    transform: scale(2);
}

.plane__img {
    width: 100px;
}

/* PLANE ANIMATION */
@keyframes planeFly {
    from,
    to {
        left: 100%;
        bottom: -200px;
    }

    20% {
        left: 95%;
        bottom: 20%; 
    }

    100% {
        left: -200px;
        bottom: 100%;
    }
}




